/* globals.css */

/* Reset base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente global */
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #f8f9fa;
  color: #2a3547;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Ejemplo de estilos para tablas */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f6fa;
}
